<style xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"
       xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"
       xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml">
   :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.button {border: #f9c300;
  display: inline-block;
  border-radius: 4px;
  background-color: #f9c300;
  color: black;
  text-align: center;
  font-size: 16px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 40px;
}


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
* {
            margin: 0;
            padding: 0;
        }
        .imgbox {

            display: grid;
            height: 100%;
        }

        .center-fit {
          border-radius: 7px;
          margin: auto;
          width: 100%;
          height: 266px;
        }
</style>
<body style="background-color:#e1c1b6;background-size:100% 100% " >
<div class="text-center" >

    <img class="center-fit" src='assets/JIIT-Noida-Sector-128.jpg' >


<h2 style="color: #354092;font-weight:bold;margin-top: 20px">Welcome to <br>The Scavenger Hunt</h2>
<p style="color: #354092;text-align: center;font-size: 15px; font-family: 'Roboto';font-weight:bold;line-height: 1.8;padding-top: 15px">
Set off on an adventure across the<br>
majestic campus of JIIT128<br>
and get a chance to win a<br>
  JIIT STARTER KIT!!

</p>
    <p style="text-align: center;font-size: 15px; font-family: 'Roboto';font-weight:bold;line-height: 1.8;color: #354092">
Be the fastest to reveal the 9 clues<br>
which are spread across the university campus<br>
and win he college starter kit which includes<br>
cool goodies and stuff to give you a headstart<br>
through the freshmen year.    </p>

<a routerLink="/login"><button class="button" style="vertical-align:middle;margin-top: 15px"><span>Next </span></button></a>


</div>
</body>
