<body style="background-color:#082240;background-size:100% 100% " >
<div class=" d-flex align-items-center min-vh-100" >


<div class="container"align="center">
  <h2 style="margin-bottom: 50px;font-size: 23px">FORGOT PIN</h2>
  <form [formGroup]="myForm" (ngSubmit)="onsubmit(myForm)">

              <div class="form-group">
                <input type="password" class="form-control" placeholder="PIN" name="psw" [formControl]="myForm.controls['password']">

              </div>
              <div class="alert alert-danger" *ngIf="(!myForm.controls['password'].valid) && (myForm.controls['password'].touched)">
                PIN must be 6 digits.
              </div>
              <div class="text-center">
                <button  class="button" [disabled]="!myForm.valid">
                  Enter
                </button>
              </div>
 <div class="alert alert-danger" *ngIf="usererror">
        {{usererror}}
      </div>
            </form>

</div>


</div>
</body>
