<body style="background-color: #082240; text-align: center" ><p><b>TERMS AND CONDITIONS</b></p>
<p>In order to enter the Island Hunt, you must agree to these Official Rules (“Rules”).
  Therefore, please read these Rules prior to entry to ensure you understand and agree.
</p>

<p>
  The Island Hunt is open to individuals who are 12 years of age or older on November 15, 2020, and who have agreed to these Rules.

</p>

<p align="center">
Employees of Al Maryah Island and its respective subsidiaries and associates and such employees’ immediate family members are excluded from this Island Hunt. You must have access to the Internet in order to enter.
</p>
<p>
  You agree that registering for the Island Hunt constitutes agreement to these Rules. You may not register and are not eligible to receive the prizes unless you agree to these Rules. These Rules form a binding legal agreement between you and Al Maryah Island with respect to the Contest.

</p>
<p>
 The Island Hunt begins November XX, 2020, and ends December YY, 2020.
One entry is allowed per person. Al Maryah Island reserves the right, in its sole discretion, to void any and all entries of an entrant who submits more than one entry by using multiple/different e-mail addresses, identities, registrations and logins, or any other methods, or who Al Maryah Island believes has attempted to tamper with, influence or impair the administration, security and fairness of the Island Hunt.

</p>
<p>Participants agree that personal data including, but not limited to, name, Instagram username and email address may be collected, processed, stored and otherwise used for the purposes of conducting and administering the Island Hunt. Further, this data may also be used by Al Maryah island to verify a Participant’s identity, postal address and telephone number in the event a Participant qualifies for any applicable prize as well as to deliver the applicable prize(s). If a Participant does not provide the required data when requested, that Participant’s entry will be ineligible for any prizes.
</p>
<p>
Any false information provided within the context of the Island Hunt by any Participant concerning identity, Instagram username, email address, ownership of right or non-compliance with these Official Rules or the like may result in the immediate elimination of the Participant from the Island Hunt. Al Maryah Island further reserves the right to disqualify any entry that it believes in its sole and unfettered discretion infringes upon or violates the rights of any third party, otherwise does not comply with these Official Rules, or violates UAE law.
</p>
<p>
  Al Maryah Island is not responsible for electronic transmission errors resulting in omission, interruption, deletion, defect, delay in operations or transmission. Al Maryah Island is not responsible for theft or destruction or unauthorized access to or alterations of entry materials, or for technical, network, telephone equipment, electronic, computer, hardware or software malfunctions or limitations of any kind.

</p>

<p>
Al Maryah Island is not responsible for inaccurate transmissions of or failure to receive entry information by Al Maryah Island on account of technical problems or traffic congestion on the Internet or at any Web site or any combination thereof. If for any reason the Island Hunt is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical failures, or any other causes which corrupt or affect the administration, security, fairness, integrity, or proper conduct of the Island Hunt,
</p>
<p>Al Maryah Island reserves the right at its sole discretion to cancel, terminate, modify or suspend the Island Hunt. Al Maryah Island further reserves the right to disqualify any Participant who tampers with the submission process or any other part of the Contest.
</p>
<p>
Any attempt by a Participant to deliberately damage any website/webpage or undermine the legitimate operation of the Island Hunt is a violation of criminal and civil laws and should such an attempt be made, Al Maryah Island reserves the right to seek damages from any such Participant to the fullest extent of the applicable law.
</p>
<p>A participant who successfully completes the Island Hunt, i.e. has uncovered all 9 clues will receive a message confirming the same. Only the successful participants who have received the message of completion will be eligible to enter the random draw for prizes.
</p>
<p>
The winners will receive a spa voucher or a dining experience prize at one of the Al Maryah Island hotels. These prizes will be distributed to 2 weekly winners randomly and not by selection of preferred prize. By accepting the prize, winner agrees to release Al Maryah Island from any and all liability whatsoever for any injuries, losses, or damages of any kind caused by entering the promotion or for damages of any kind caused by any prize or resulting from acceptance, possession, or use/misuse of prize awarded, or while preparing for, participating in, and/or traveling to and from any prize-related activity.
</p>
<p>Prize will be awarded “as is” with no warranty or guarantee, either express or implied, by Al Maryah Island. All prize details will be determined in Al Maryah Island’s sole discretion. Prize is non-assignable, non-transferable, and must be accepted as awarded. No substitutions may be made. Prize will only be awarded to the verified winner(s).
</p>
<p>
The winning entrant will be contacted by email or through Instagram thereafter and will be required to sign and return a release. Any fees, federal, state and other taxes, costs and expenses relating to the use, acceptance and possession of the prize are the sole responsibility of the winning entrant. The prize is not redeemable in cash and must be accepted as awarded.
</p>
<p>By claiming the prize, the winner authorizes the use, without additional compensation, of his or her name and/or likeness and/or voice/photograph for promotion and/or advertising purposes in any manner and in any medium (including without limitation, newspapers and other publications and in slides, videotape, distribution over the internet and picture date storage) which Al Maryah Island may deem appropriate.
</p>
<p>
In accepting the prize, the winner, and any guest(s), acknowledges that Al Maryah Island and its respective subsidiaries and associates and such, may not be held liable for any loss, damages or injury associated with accepting or using this prize(s).
</p>
<p>
Al Maryah Island retains the rights, in its absolute and sole discretion, to make substitutions of equivalent kind or approximate value in the event of the unavailability of any prize or component of the prize for any reason whatsoever. Al Maryah Island reserves the right to withdraw or terminate this contest at any time without prior notice.
</p>
</body>
